*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    color: white;
}

a{
    text-decoration: none;
}
.ms-section-2 a i{
    color: white;
}

.ms-avatar{
    width: 300px;
}

.ms-image{
    width: 300px;
}

.ms-section{
    background-color: rgb(44, 62, 80);
}

.ms-section-1{
    background-color: rgb(26, 188, 156);
}

.ms-section-2{
    background-color: rgb(58, 84, 109);
}

.ms-star{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.ms-star::after,
.ms-star::before{
    content: "";
    display: inline-block;
    width: 15%;
    height: 3px;
    line-height: 3px;
    border-radius: 20px;
    vertical-align: middle;
    background-color: white;
}

.ms-black{
    color: black;
}

.ms-star1{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.ms-star1::after,
.ms-star1::before{
    content: "";
    display: inline-block;
    width: 15%;
    height: 3px;
    line-height: 3px;
    border-radius: 20px;
    vertical-align: middle;
    background-color: black;
}

.ms-input-border{
    border: 0;
    border-bottom: 1px solid grey;
    border-radius: 0 !important;
}

.ms-radius{
    border-radius: 100%;
    border: 1px solid white;
    height: 35px;
    width: 35px;
    line-height: 34px;
    margin-right: 5px;
    font-size: 15px;
}

.ms-button{
    border: 0;
    background-color: rgb(26, 188, 156);
}

.ms-fs-8{
    font-size: 0.8rem;
}
